<div class="footer">
    <p style="background-color : red"> This is the example view imported </p>
</div>



<ul>
    {% for item in elements %}
        <li>{{item.name}} -- {{item.description}}</li>
    {% endfor %}
</ul>

