<div class="footer">
    <p style="background-color : red"> This is the example view imported </p>
</div>

<ul>
    <li>{{sentence}}</li>
    <li>{{name}}</li>
    <li>{{title}}</li>
</ul>


<ul>
    {% for item in elements %}
        <li>{{item}}</li>
    {% endfor %}
</ul>

